/**
 * @name Tranquil Pink
 * @author MonsterDev
 * @version 1.5
 * @description Phoenix Theme Bundle: Primarily dark theme that's easy on the eyes.
 * @invite TeRQEPb
 * @authorId 402272736665272320
 * @source https://github.com/monstrousdev/themes/blob/master/theme-files/Tranquil.theme.css
*/

@import url('https://monstrousdev.github.io/themes/phoenix-bundle/tranquil.css');
@import url('https://nyri4.github.io/Discolored/main.css');

:root {
  --main-color: #C91EE7;
  --hover-color: #5B1567;
  --home-color: #eee;
  --roundness: 50px;
  --shadow: rgba(0,0,0,.4);
}

/* Any custom CSS below here */


